@page
@model IndexModel
@{
    ViewData["Title"] = "Strona główna";
}

<h1 class="mb-4">Witaj w ScrumApp</h1>
<p>
    Ta aplikacja pozwala na zarządzanie zadaniami oraz wydarzeniami Scrum.
    Możesz dodawać, edytować i usuwać zadania oraz wydarzenia, aby efektywnie planować i śledzić swoje projekty.
</p>
<div class="row">
    <div class="col-md-6">
        <div class="card shadow-sm mb-4">
            <div class="card-body">
                <h5 class="card-title">Zarządzaj zadaniami</h5>
                <p class="card-text">Dodawaj, edytuj i śledź swoje zadania w jednym miejscu.</p>
                <a class="btn btn-primary" asp-page="/Tasks/Index">Przejdź do zadań</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card shadow-sm mb-4">
            <div class="card-body">
                <h5 class="card-title">Zarządzaj wydarzeniami</h5>
                <p class="card-text">Planuj i organizuj swoje wydarzenia SCRUM.</p>
                <a class="btn btn-primary" asp-page="/Events/Index">Przejdź do wydarzeń</a>
            </div>
        </div>
    </div>
</div>
