@page "/ResetPassword"
@model ResetPasswordModel
@{
    ViewData["Title"] = "Resetowanie hasła";
}

<div class="d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="card shadow-lg p-5" style="max-width: 450px; width: 100%; border-radius: 1rem; background-color: #e8f5e9;">
        <div class="card-body">
            <h2 class="text-center mb-4 text-dark">Resetowanie hasła</h2>
            <form method="post">
                <input type="hidden" asp-for="Input.UserId" />
                <input type="hidden" asp-for="Input.Token" />

                <div class="mb-3">
                    <label>Nowe hasło</label>
                    <input asp-for="Input.NewPassword" type="password" class="form-control input-border" autocomplete="new-password" />
                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label>Powtórz hasło</label>
                    <input asp-for="Input.ConfirmPassword" type="password" class="form-control input-border" autocomplete="new-password" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-success w-100">Zresetuj hasło</button>
            </form>
        </div>
    </div>
</div>
<!--Toast-->
<div aria-live="polite" aria-atomic="true" class="position-relative">
    <div id="successToast" class="toast position-fixed bottom-0 end-0 m-3" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="4000">
        <div class="toast-header bg-success text-white">
            <strong class="me-auto">Sukces</strong>
            <small>teraz</small>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            @TempData["SuccessMessage"]
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
